.span_logo {
    color: #3470ff;
    padding-left: 10px;
}


.card_block {
    width: 274px;
    height: 426px;
    object-fit: cover;
    border-radius: 14px;

}

.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 29px;
    margin-bottom: 29px;
}

.title_favorites {
    padding-left: 20px;

}