.header {
    display: flex;
    flex-direction: row;
    padding-left: 20px
}

.header_list {
    display: flex;
    gap: 50px;
    align-items: center;

}

.header_title {
    color: black;

}

.span_logo {
    color: #3470ff;
}

.link {
    color: black;
}